/**************** start-reset ****************/

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
ul {
  padding: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100vw;
  min-width: 1200px;
}
ul[class],
ol[class] {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  color: #000;
  border: none;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

/*************** end-reset ****************/

.container {
  /* width: 60.9%; */
  width: calc(60.9% + 200px);
  margin: auto;
  min-width: 1170px;
  padding: 100px 100px;
}

.cover-page {
  min-height: 800px;
  min-width: 1200px;
  background-color: #3e4d5f;
  background-clip: content-box;
  padding-top: 5px;
  overflow: hidden;
  max-height: 1200px;
}
#logo {
  width: 190px;
}
#logo-div {
  position: absolute;
  left: 0;
}
header {
  position: relative;
  padding-top: 10px;
  height: 112px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  width: 60.9%;
  margin: auto;
  min-width: 1170px;
}
nav {
  width: 73%;
  min-width: 500px;
  font-weight: 900;
  font-size: 15px;
  display: flex;
  position: absolute;
  right: 0;
  line-height: 30px;
  color: #fff;
  align-items: center;
  padding-bottom: 1px;
}
nav ul {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  vertical-align: middle;
  margin-right: 5px;
  padding-bottom: 2px;
}
nav li {
  margin-right: 20px;
  align-items: baseline;
}
nav li:last-of-type {
  margin-right: 24px;
}
nav li:hover {
  position: relative;
}
nav li div {
  height: 15px;
  background-color: #1abc9c;
  position: absolute;
  top: -50px;
  color: transparent;
  left: 0;
  z-index: -20;
}
nav li:hover span {
  color: #1abc9c;
}
nav li i {
  vertical-align: middle;
  padding-left: 8px;
  padding-bottom: 1px;
  font-size: 16px;
  transform: scale(1, 1.1);
}
.nav-icons {
  display: flex;
  cursor: pointer;
}
.nav-icons svg:first-of-type {
  margin-right: 10px;
}

/****************  start top side ****************/

.top-side {
  position: relative;
}

.top-side .container {
  color: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 57px;
  justify-content: space-between;
  position: relative;
}
.top-text {
  margin-top: 50px;
  width: 49.3%;
}
.top-img {
  width: 38.4%;
  max-width: 448px;
}
.top-img img {
  width: 100%;
}
.top-side h1 {
  font-weight: 300;
  font-size: 90px;
  line-height: 89px;
  margin-bottom: 33px;
  padding-left: 0;
}
.top-side h1 span:first-of-type {
  font-weight: 400;
}
.top-side h1 span:last-of-type {
  font-size: 80px;
  vertical-align: top;
  position: relative;
  line-height: 73px;
  padding: 0 12.5px;
  font-weight: 300;
}
.top-side h1 span:last-of-type::before {
  content: '';
  border: 2px solid #fff;
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 4px;
  left: -2px;
  border-radius: 10px;
}
.top-side h3 {
  font-size: 36px;
  font-weight: 300;
  padding-left: 7px;
  padding-bottom: 3px;
}
.top-side p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  padding-left: 6px;
  margin-bottom: 44px;
}

.top-side button {
  font-weight: 900;
  text-transform: uppercase;
  line-height: 19px;
  width: 160px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.top-button.view {
  background-color: #1d2c3b;
  margin: 0 7px 0 7px;
  border: 1px solid #707070;
}
.top-button.buy {
  background-color: #1abc9c;
}
.top-more {
  position: absolute;
  bottom: 9px;
  left: 50%;
  display: flex;
  width: 100px;
  justify-content: space-between;
  transform: translate(-50%, 0);
  height: 20px;
  padding-bottom: 40px;
}
.top-more div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-sizing: content-box;
  background-color: #fff;
  border: 2px solid rgba(44, 62, 80, 0.9);
}
.top-more div:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
}
.top-arrow {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  text-align: center;
}
.top-arrow:hover {
  background-color: #fff;
  border: 1px solid #fff;
}
.top-arrow:hover i {
  color: #2c3e50;
}
.top-arrow.left {
  left: 70px;
  width: 52px;
  padding-right: 2px;
}
.top-arrow.right {
  right: 70px;
}
.top-arrow i {
  line-height: 50px;
  width: 50px;
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/****************  start third component ***************/

.main-h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 33px;
  margin-bottom: 50px;
}
.main-h1 span {
  font-weight: 900;
}
.prod-header {
  width: 100%;
  position: relative;
}
.sec-arrows {
  position: absolute;
  right: 0;
  top: 0;
}
.sec-arrows i {
  color: #a1b1bc;
  font-size: 24px;
  width: 37px;
  height: 37px;
  border: 1px solid #cdd9e1;
  border-radius: 10px;
  text-align: center;
  line-height: 37px;
  background-color: #ffffff;
}
.sec-arrows i:hover {
  cursor: pointer;
  background-color: #2c3e50;
}
.sec-arrows i:first-of-type {
  margin-right: 10px;
}
.third-comp {
  /* height: 780px; */
  background-color: #f9fafa;
  border-bottom: 1px solid #ecf0f1;
}
.third-comp .container {
  height: 100%;
  /* padding-top: 95px;
  padding-bottom: 96px; */
}
.articles {
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: scroll;
  scroll-snap-align: end;
}
.product {
  width: 23%;
  min-width: 250px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}
.product:last-of-type {
  margin-right: 0;
}
.product-img {
  height: 368px;
  min-height: 100px;
  background-color: #fff;
}
.product-bot {
  padding: 13px 20px;
}
.product-bot {
  font-size: 20px;
  font-weight: 900;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  justify-content: space-between;
}
.product-bot h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 2px;
}
.product-bot span {
  font-weight: 900;
  font-size: 20px;
  margin-top: 4px;
  padding-bottom: 3px;
}
.prod-but {
  padding: 20px;
  width: 100%;
  font-size: 13px;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 400;
}
.prod-but button {
  width: 46%;
  height: 30px;
  background-color: #a1b1bc;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  color: #fff;
  align-items: center;
  padding-left: 9px;
  /* min-width: 105px; */
}
.prod-but svg {
  margin-right: 8px;
}
.prod-but button:hover {
  cursor: pointer;
}
.stars i {
  font-size: 13.5px;
  color: #1abc9c;
  width: 10px;
}
.stars i.empty {
  color: #a1b1bc;
}

/* hovers */

.product:hover .product-bot {
  background-color: #2c3e50;
  color: #fff;
}
.product:hover .prod-but {
  background-color: #2c3e50;
}
.product:hover .prod-but button:first-of-type {
  background-color: #1abc9c;
}
.product:hover .prod-but button:last-of-type {
  background-color: transparent;
  border: 1px solid #fff;
}

/****************  start fourth component ***************/

.fourth-comp {
  width: 100%;
  height: 140px;
}
.cont-4 {
  margin: 100px auto 50px auto;
  border: 1px solid #dfe8ea;
  padding: 19px 30px 20px 30px;
  max-width: 1170px;
  min-width: 600px;
  width: calc(60.9% + 70px);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}
.fourth-comp div div:first-of-type {
  width: 100px;
  background-color: #1abc9c;
  border-radius: 50%;
  position: relative;
  border: 5px solid #fff;
  height: 100px;
}
.fourth-comp svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-4 {
  width: 65.1%;
  margin-right: 35px;
}
.text-4 h3 {
  font-size: 24px;
  font-weight: bold;
  color: #34495e;
  line-height: 33px;
  margin-top: 10px;
}
.text-4 p {
  font-size: 14px;
  font-weight: 400;
  color: #a1b1bc;
  line-height: 24px;
  margin-top: 6px;
}
.cont-4 button {
  background-color: #34495e;
  width: 180px;
  height: 64px;
  box-shadow: 0 -1px 0 3px #2c3e50 inset;
  color: #fff;
  border-radius: 10px;
  padding-bottom: 7px;
}

/****************  finish fourth component ***************/

/****************  start fifth component ***************/

.comp-5.container {
  /* margin-top: 50px; */
}
.grid-5{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 600px 455px;
    width: 100%;
}
.main-article-5 {
  font-size: 18px;
  height: 600px;
  background-color: #cccccc;
  position: relative;
  color: #2c3e50;
  grid-column: 1 / 4;
  grid-row: 1;
}
.article-5 article:nth-of-type(2){
  grid-column: 1;
  grid-row: 2;
}
.article-5 article:nth-of-type(3){
  grid-column: 2;
  grid-row: 2;
}
.article-5 article:nth-of-type(4){
  grid-column: 3;
  grid-row: 2;
}
.main-article-5 div {
  position: absolute;
  right: 80px;
  top: 40.8%;
}
.main-article-5 h3 {
  font-size: 60px;
  font-weight: 300;
}
.main-article-5 h3 span {
  color: #fff;
  background-color: #17d8b2;
  padding: 0 5px;
  border-radius: 10px;
}
.main-article-5 button {
  width: 150px;
  height: 50px;
  background-color: #2c3e50;
  color: #fff;
}

.article-5 {
  justify-content: space-between;
}
.article-5 article {
  /* width: calc((100% - 20px) / 3); */
  line-height: 24px;
  /* grid-column: 1 /2; */
}
.art5-img {
  height: 200px;
  background-color: #cccccc;
  position: relative;
}
.art5-text {
  background-color: #ecf0f1;
  padding: 25px 30px 30px 30px;
}
.article-5 button {
  width: 100%;
  background-color: #1abc9c;
  color: #fff;
  padding: 10px 30px;
  vertical-align: middle;
  height: 50px;
}
.article-5 article h4 {
  font-size: 18px;
  color: #2c3e50;
  font-weight: bold;
  margin-bottom: 20px;
}
.article-5 article p {
  font-size: 14px;
  color: #a1b1bc;
}

/* start  hovers */

.article-5 article:hover .art5-img {
  background-color: #1abc9c;
}
.article-5 article:hover .art5-text h4 {
  color: #fff;
}
.article-5 article:hover .art5-text {
  background-color: #2c3e50;
}
.article-5 article:hover button {
  background-color: #1e2a37;
}
.article-5 article:hover .art-5-plus {
  display: block;
}
.art-5-plus {
  font-size: 48px;
  font-weight: 300;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  line-height: 66px;
  display: none;
}

/* hovers end */

/****************  finish fifth component ***************/

/****************  start sixth component ***************/

.recent-products.container {
  /* margin-top: 55px; */
  /* padding-top: 40px; */
  /* padding-bottom: 100px; */
}
.recent-products .articles {
  width: 100%;
}
.recent-product .product {
  position: relative;
}
.feat-prod {
  background-color: #e46960;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  padding: 15px 20px;
  color: #fff;
  line-height: 20px;
  font-size: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
}
.recent-products .first-row {
  margin-bottom: 30px;
}
.best-prod {
  background-color: #21c2f8;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  padding: 15px 20px;
  color: #fff;
  line-height: 20px;
  font-size: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
}
.product-bot {
  position: relative;
}
.product-bot span:nth-of-type(2) {
  position: absolute;
  bottom: 10px;
  right: 70px;
  background-color: #21c2f8;
  border-radius: 5px;
  height: 30px;
  width: 90px;
  text-align: center;
  color: #fff;
}

/****************  finish sixth component ***************/

/****************  start seventh component ***************/

.comp-7 {
  background-color: #f9fbfb;
}
.articles-7 {
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.articles-7 article {
  width: calc((100% - 30px) / 2);
  height: 194px;
  position: relative;
  margin-bottom: 30px;
}
.icons-7 {
  width: 40px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.text-7 {
  padding: 20px 15px 15px 20px;
  line-height: 24px;
  font-size: 15px;
  color: #2c3e50;
  width: 47.4%;
  background-color: #fff;
  border: 1px solid #fff;
}
.art-img-7 {
  width: 52.6%;
  background-color: #cccccc;
}
.text-7 h3 {
  font-weight: 700;
  font-size: 18px;
}
.text-7 p {
  color: #a1b1bc;
}

/****************  finish seventh component ***************/

/****************  start eight component ***************/

.comp-8 {
  background-color: #000;
  width: 100%;
  position: relative;
}
.comp-8-text {
  color: #fff;
  padding: 10px;
  width: 500px;
  text-align: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}
.comp-8-text h1 {
  line-height: 20px;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}
.comp-8-text p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 20px;
}
.comp-8-text button {
  width: 170px;
  height: 45px;
  font-size: 15px;
  line-height: 40px;
  font-weight: 900;
  color: #fff;
}
.comp-8-text .learn {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #fff;
}
.comp-8-text .purchase {
  background-color: #21c2f8;
}
.arrow-8 {
  position: absolute;
  font-size: 30px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  line-height: 56px;
  text-align: center;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: translate(0, -50%);
}
.arrow-8.right {
  right: 10.4%;
}
.arrow-8.left {
  left: 10.4%;
}

/****************  finish eight component ***************/

/****************  start ninth component ***************/

.comp-9 {
  background-color: #f9fbfb;
}
.comp-9 .container {
  justify-content: space-between;
}
.div-9 {
  width: calc((100% - 30px) / 2);
}
