/**************** start-reset ****************/

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
ul{
    padding: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100vw;
  min-width: 1200px;
}
ul[class],
ol[class] {
  list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}

/*************** end-reset ****************/

.container{
    /* width: 60.9%; */
    width: calc(60.9% + 200px);
    margin: auto;
    min-width: 1170px;
    padding: 0 100px;
}

.cover-page{
    min-height: 800px;
    min-width: 1200px;
    background-color: #3E4D5F;
    background-clip: content-box;
    padding-top: 5px;
    overflow: hidden;
    max-height: 1200px;
}
#logo{
    width: 190px;
}
#logo-div{
    position: absolute;
    left: 0;
}
header{
    position: relative;
    padding-top: 10px;
    height: 112px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 60.9%;
    margin: auto;
    min-width: 1170px;
}
nav{
    width: 73%;
    min-width: 500px;
    font-weight: 900;
    font-size: 15px;
    display: flex;
    position: absolute;
    right: 0;
    line-height: 30px;
    color: #fff;
    align-items: center;
    padding-bottom: 1px;
}
nav ul{
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    vertical-align: middle;
    margin-right: 5px;
    padding-bottom: 2px;
}
nav li{
    margin-right: 20px;
    align-items: baseline;
}
nav li:last-of-type{
    margin-right: 24px;
}
nav li:hover{
    position: relative;
}
nav li div{
    height: 15px;
    background-color: #1ABC9C;
    position: absolute;
    top: -50px;
    color: transparent;
    left: 0;
    z-index: -20;
}
nav li:hover span{
    color: #1ABC9C; 
}
nav li i{
    vertical-align: middle;
    padding-left: 8px;
    padding-bottom: 1px;
    font-size: 16px;
    transform: scale(1, 1.1);
}
.nav-icons{
    display: flex;
    cursor: pointer;
}
.nav-icons svg:first-of-type{
    margin-right: 10px;
}

/****************  start top side ****************/

.top-side{
    position: relative;
}

.top-side .container{
    color: #fff;
    display: flex;
    flex-direction: row;
    padding-top: 57px;
    padding-bottom: 100px;
    justify-content: space-between;
    position: relative;
}
.top-text{
    margin-top: 50px;
    width: 49.3%;
}
.top-img{
    width: 38.4%;
    max-width: 448px;
}
.top-img img{
    width: 100%;
}
.top-side h1{
    font-weight: 300;
    font-size: 90px;
    line-height: 89px;
    margin-bottom: 33px;
    padding-left: 0;
}
.top-side h1 span:first-of-type{
    font-weight: 400;
}
.top-side h1 span:last-of-type{
    font-size: 80px;
    vertical-align: top;
    position: relative;
    line-height: 73px;
    padding: 0 12.5px;
    font-weight: 300;
}
.top-side h1 span:last-of-type::before{
    content: "";
    border: 2px solid #fff;
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 4px;
    left:-2px;
    border-radius: 10px;
}
.top-side h3{
    font-size: 36px;
    font-weight: 300;
    padding-left: 7px;
    padding-bottom: 3px;
}
.top-side p{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    padding-left: 6px;
    margin-bottom: 44px;
}

.top-side button{
    font-weight: 900;
    text-transform: uppercase;
    line-height: 19px;
    width: 160px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.top-button.view{
    background-color: #1D2C3B;
    margin: 0 7px 0 7px;
    border: 1px solid #707070;
}
.top-button.buy{
    background-color: #1ABC9C;
}
.top-more {
    position: absolute;
    bottom: 9px;
    left: 50%;
    display: flex;
    width: 100px;
    justify-content: space-between;
    transform: translate(-50%, 0);
    height: 20px;
    padding-bottom: 40px;
}
.top-more div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: content-box;
    background-color: #fff;
    border: 2px solid rgba(44, 62, 80, 0.9);
}
.top-more div:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
}
.top-arrow{
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    text-align: center;
}
.top-arrow:hover{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;

}
.top-arrow:hover i{
    color: #fff;
}
.top-arrow.left{
    left: 70px;
    width: 52px;
    padding-right: 2px;
}
.top-arrow.right{
    right: 70px;
}
.top-arrow i{
    line-height: 50px;
    width: 50px;
    text-align: center;
    color: #2C3E50;
    font-size: 10px;
}

/****************  start third component ***************/
h1{
    font-size: 36px ;
    font-weight: 300;
    line-height: 33px;
    margin-bottom: 50px;
}
h1 span{
    font-weight: 900;
}
.prod-header{
    width: 100%;
    position: relative;
}
.sec-arrows{
    position: absolute;
    right: 0;
    top: 0;
}
.sec-arrows i{
    color: #A1B1BC;
    font-size: 24px;
    width: 37px;
    height: 37px;
    border: 1px solid #CDD9E1;
    border-radius: 10px;
    text-align: center;
    line-height: 37px;
}
.sec-arrows i:hover{
    cursor: pointer;
    background-color: #2C3E50;
}
.sec-arrows i:first-of-type{
    margin-right: 10px;
}
.third-comp{
    /* height: 780px; */
    background-color: #F9FAFA;
    border-bottom: 1px solid #ECF0F1;
}
.third-comp .container{
    height: 100%;
    padding-top: 95px;
    padding-bottom: 95px;
}
.articles{
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: scroll;
    scroll-snap-align: end;
}
.product{
    width: 23%;
    min-width: 250px;
    margin-right: 15px;
    background-color: #fff;
}
.product:last-of-type{
    margin-right:0;
}
.product-img{
    height: 368px;
    min-height: 100px;
    background-color: #fff;
}
.product-bot{
    padding: 13px 20px;
}
.product-bot{
    font-size: 20px;
    font-weight: 900;
    border: 1px solid #E6E6E6;
    border-bottom: none;
    justify-content: space-between;
}
.product-bot h3{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 2px;
}
.product-bot span{
    font-weight: 900;
    font-size: 20px;
    margin-top: 4px;
    padding-bottom: 3px;
}
.prod-but{
    padding: 20px;
    width: 100%;
    font-size: 13px;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #E6E6E6;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    font-weight: 400;
}
.prod-but button{
    width: 46%;
    height: 30px;
    background-color: #A1B1BC;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    color: #fff;
    align-items: center;
    padding-left: 9px;
    /* min-width: 105px; */
}
.prod-but svg{
    margin-right: 8px;
}
.prod-but button:hover{
    cursor: pointer;
}
.stars i{
    font-size: 13.5px;
    color:#1ABC9C;
    width: 10px;
}
.stars i.empty{
    color: #A1B1BC;
}

/* hovers */

.product:hover .product-bot{
    background-color: #2C3E50;
    color: #fff;
}
.product:hover .prod-but {
    background-color: #2C3E50;
}
.product:hover .prod-but button:first-of-type{
    background-color: #1ABC9C;
}
.product:hover .prod-but button:last-of-type{
    background-color: transparent;
    border: 1px solid #fff;
}

/****************  start fourth component ***************/

.fourth-comp {
    width: 100%;
    height: 140px;
}
.fourth-comp .container{
    margin-top: 100px;
    margin-bottom: 50px;
    border: 1px solid #DFE8EA;
    padding: 0 35px;
    max-width: 1170px;
}
.fourth-comp div div:first-of-type{
    height: 100px;
    width: 100px;
    background-color: #1ABC9C;
    border-radius: 50%;
    position: relative;
    border: 5px solid #fff;
}
.fourth-comp svg{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}